body {
    background-color: $color-gray;
    width: 95%;
    margin: auto;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    background-color: $color-blue;
    width: 100%;
    margin: 0;
    box-shadow: 0 2px 10px 2px $color-shadow;

    & h1 {
        margin-left: 2rem;
        color: $color-gray;
        width: 35%;
        font-size: 18px;

        @media (min-width: $md) {
            font-size: 24px;
            width: 100%;
        }

        @media (min-width: $lg) {
            font-size: 28px;
        }
    }
}

main {
    margin-top: 104px;
}

input {
    outline: none;
}

// .search-bar {
//     // display: inline-block;
//     // position: absolute;
//     // right: -1035px;
//     // bottom: 10px;
//     width: 100%;
// }

#filter {
    background-color: $color-gray;
    position: absolute;
    right: 35px;
    bottom: 10px;
    padding: 5px;
    border-radius: 3px;
    border: none;
    // width: 15%;
    width: 250px;
    transition: all .1s linear;

    @media (max-width: $sm) {
        right: 60px;
        width: 30%;
    }

    &:focus {
        // width: 25%;
        background-color: #ffffff;
        box-shadow: 0 0 8px 3px $color-golden;

        @media (min-width: $md) {
            width: 25%;
        }
    }
}

// .icon-wrapper{
//     position: relative;
// }

// .finder {
//     position: absolute;
//     right: 3px;
//     height: 20px;
//     width: 20px;
//     fill: $color-drkgray;
//     margin-top: auto;
//     margin-bottom: auto;
// }

.employee {
    &-card {
        display: flex;
        justify-content: flex-start;
        background-color: #ffffff;
        padding: 1rem;
        border-radius: 10px;
        cursor: pointer;
        box-shadow: 0 0 8px 0 $color-black;
        transition: all .2s linear;

        @media (max-width: $sm) {
            margin: auto;
            width: 90%;
        }

        //Add transition
        &:hover {
            box-shadow: 0 0 8px 0 $color-golden;

            & img {
                border: 3px solid $color-golden;
                box-shadow: 0 0 8px 0 $color-golden;
            }

            & h3 {
                color: $color-golden;
            }
        }

        & img {
            width: 120px;
            height: 120px;
            margin: auto 2rem auto 1rem;
            border-radius: 100%;
            border: 3px solid $color-blue;
            object-fit: cover;
            transition: all .2s linear;

            @media (max-width: $sm) {
                width: 100px;
                height: 100px;
            }

        }

        & h3 {
            color: $color-blue;
            transition: all .2s linear;
        }

        & .card-text {
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
        }
    }
}

#employee {
    &-list {
        display: grid;
        width: 100%;
        margin: 0 auto 2rem auto;
        grid-template-rows: auto;
        grid-template-columns: auto;
        gap: 1.5rem;

        @media (min-width: $md) {
            grid-template-rows: auto;
            grid-template-columns: repeat(2, 1fr);
        }

        @media (min-width: $lg) {
            grid-template-rows: repeat(4, 1fr);
            grid-template-columns: repeat(3, 1fr);
        }
    }
}